// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'moderatcondensedlight', sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    color: #000;
    text-decoration: none;
    @include transition(ease, 0.3s);
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

hr {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'flatlineregular', sans-serif;
    text-transform: uppercase;
}

header {
    padding: 30px 0;
    margin-bottom: 60px;
    @include transition(ease, 0.2s);

    #logo {
        max-width: 80%;
    }
}

section {
    margin: 30px 0;

    h1 {
        letter-spacing: 0.8rem;
    }

    .table-responsive {
        overflow-x: visible;
    }

    p {
        margin-bottom: 0;
    }

    .bold {
        font-family: 'moderatcondensedregular', sans-serif;
    }

    .badge-sulawe {
        position: relative;

        &::before {
            @include background('../images/icono-a.svg', center, contain);
            @include absolute-center-y;
            position: absolute;
            left: -15px;
            width: 13px;
            height: 12px;
            content: '';
        }
    }
}

footer {
    margin-top: 60px;
    padding: 30px 0;

    .social {
        a {
            color: $primary;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            border-radius: 50px;
        }

        .list-inline-item:not(:last-child) {
            margin-right: 0.1rem;
        }
    }

    .disclaimer {
        line-height: 0.9rem;

        h6 {
            letter-spacing: 4px;
        }

        p {
            margin-bottom: 0;

            small {
                font-size: 0.775rem;
            }
        }
    }
}