// Global styles
::-moz-selection {
    color: #ffffff;
    background: #000000;
    }

::selection {
    color: #ffffff;
    background: #000000;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'moderatcondensedlight', sans-serif;
    position: relative;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    color: $link-color;
    text-decoration: none;
    @include transition(ease, 0.3s);
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.flip-h {
    display: inline-block;
    -webkit-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
}

hr {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'flatlineregular', sans-serif;
    text-transform: uppercase;
}

.regular-font-family {
    font-family: 'moderatcondensedlight', sans-serif;
}

.bold-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'flatlinebold', sans-serif;
    }

    p,
    ul {
        font-family: 'moderatcondensedmedium', sans-serif;
    }
}

#navbar {
    width: 100%;
    height: auto;
    padding: 10px;
    color: $font-color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 145px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: $font-color;
        font-size: 2rem;
    }
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: saturate(300%) blur(5px);
            backdrop-filter: saturate(300%) blur(5px);
    border-bottom: 1px solid $border-color;
}

.head {
    margin-bottom: 0;
    padding: 30px 0 0;
    @include transition(ease, 0.2s);

    #logo {
        max-width: 80%;
    }
}

section {
    margin: 30px 0;

    h1,
    h2 {
        letter-spacing: 0.8rem;
    }

    .table-responsive {
        overflow-x: visible;
    }

    p {
        margin-bottom: 0;
    }

    .bold {
        font-family: 'moderatcondensedregular', sans-serif;
    }

    .badge-sulawe {
        position: relative;

        &::before {
            @include background('../images/icono-a.svg', center, contain);
            position: absolute;
            top: 6px;
            left: -15px;
            width: 13px;
            height: 12px;
            content: '';
        }
    }

    .highlight {
        border: 1px solid $border-color;
        padding: 0px 30px 18px;
        width: 100%;
        float: left;

        h1,
        h2,
        h3,
        ul,
        table {
            position: relative;
        }

        h1,
        h2,
        h3 {
            display: block;
            top: -38px;
        }
    }

    .highlight.black {
        h1,
        h2,
        h3 {
            background-color: #000000;
            color: #ffffff;
        }

        .one-line {
            top: -16px;
        }

        .two-lines {
            top: -30px;
        }
    }

    .highlight.white {
        h1,
        h2,
        h3 {
            background-color: #ffffff;
            color: #000000;
        }
    }
}

footer {
    margin-top: 30px;
    padding: 30px 0;

    .social {
        a {
            color: $primary;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $link-color;
            border-radius: 50px;
        }

        .list-inline-item:not(:last-child) {
            margin-right: 0.1rem;
        }
    }

    .disclaimer {
        line-height: 0.9rem;

        h6 {
            letter-spacing: 4px;
        }

        p {
            margin-bottom: 0;

            small {
                font-size: 0.775rem;
            }
        }
    }
}