// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    .head {
        padding: 0;

        #logo {
            max-width: 60%;
        }
    }

    section {
        .badge-sulawe {
            &::before {
                left: -20px;
            }
        }

        .highlight.black {
            .one-line {
                top: -16px;
            }
    
            .two-lines {
                top: -16px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .menu {
        height: 50vh;

        .menu-contenido {
            nav {
                ul {
                    li {
                        display: inline-block;
                        
                        &:after {
                            position: absolute;
                            right: -14px;
                            top: 1px;
                            content: '/';
                        }
                    }

                    li:last-child {
                        &:after {
                            display: none;
                        }
                    }
        
                    .list-inline-item:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .menu-inferior-border {
        height: 50vh;
    }
    
    .head {
        #logo {
            max-width: 30%;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    body {
        font-family: 'moderatcondensedlight', sans-serif;
    }

    .head {
        margin-bottom: 30px;
    }

    section {
        .highlight.black {
            .two-lines {
                top: -36px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    section {
        .highlight.black {
            .two-lines {
                top: -19px;
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    section {
        .badge-sulawe {    
            &::before {
                @include absolute-center-y;
            }
        }

        .highlight {
            padding: 0px 60px 18px;
        }
    }
}
